body {
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,227,233,1) 100%);
}

.table {
  box-shadow: 0 0 50px #555;
}

.t-wrapper {
  background: rgba(255,255,255,.1);
  padding: 2rem !important;
  border-radius: 1rem;
}